@import 'https://fonts.googleapis.com/css?family=Material+Icons+Outlined';

$font: Montserrat;

$palette: #FD3365,
#2AB3AB,
#3381FD,
#62D079,
#FDC228;


$font-color: white;

$background-color:#191C28;
$background-color-secondary:#1F2532;
$primary-color:#FD3365;
$primary-color-accent:#fec2d1;

$grey-1:#3F4148;
$grey-2:#707070;
$grey-3:#8C8E94;
$grey-4:#8F9299;
$grey-5:#BABABE;

$cyan:#80DEE2;
$yellow:#FDC228;
$blue:#50A6DF;
$green:#62D079;