@import "../../../styles-variables.scss";

.discover-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

.row {
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 14px;
}

.row .option-card:not(:first-child) {
    margin-left: 16px;
}

.option-card {
    border: 1px solid $grey-2;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    width: 190px;
    height: 130px;
    position: relative;

    span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        padding: 0 4px;
    }
}




.back {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 480px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    bottom: 240px;
}

.back svg path {
    fill: #1583d8;
}

svg {
    width: 100%;
    height: 80px
}

.test {
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.34s linear infinite;
}

.selected {
    border: 0;
    background: $primary-color;
}

button.back-button {
    // width: 120px;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // bottom: 110px;
}

.shrinkY {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.2s;
    overflow: hidden;
}